<app-einkaufsliste-navbar></app-einkaufsliste-navbar>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          <div class="form-check">
          </div>
        </th>
        <th scope="col1">ID</th>
        <th scope="col2">Bezeichnung</th>
        <th scope="col3">Menge</th>
        <th scope="col3"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let zutat of zutaten2">
        <th scope="row">
        <td>{{zutat.id}}</td>
        <td>{{zutat.name}}</td>
        <td> <button mat-icon-button>
            <mat-icon class="blue-icon">add</mat-icon>
          </button>1 <button mat-icon-button>
            <mat-icon class="blue-icon">remove</mat-icon>
          </button> </td>
        <td>
          <button mat-icon-button>
            <mat-icon class="green-icon">check</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="red-icon">close</mat-icon>
          </button>
        </td>
      </tr>

    </tbody>
  </table>

</div>