<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <div class="form-check form-check-inline">
          <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" checked="true"
            value="option1" />
          <label class="form-check-label" for="inlineCheckbox1">Obst & Gemüse</label>
        </div>
      </li>
      <li class="nav-item">
        <div class="form-check form-check-inline">
          <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox2" checked="true"
            value="option2" />
          <label class="form-check-label" for="inlineCheckbox2">Getränke</label>
        </div>
      </li>
      <li class="nav-item">
        <div class="form-check form-check-inline">
          <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox3" checked="true"
            value="option3" />
          <label class="form-check-label" for="inlineCheckbox3">Lebensmittel</label>
        </div>
      </li>
      <li class="nav-item">
        <div class="form-check form-check-inline">
          <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4"
            checked="true" />
          <label class="form-check-label" for="inlineCheckbox4">Sonstiges</label>
        </div>
      </li>
    </ul>
    <!-- Left links -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Zutaten</mat-label>
        <mat-select [formControl]="zutaten" multiple>
          <mat-option *ngFor="let zutat of all_zutaten" [value]="zutat.id">{{zutat.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon class="green-icon">add</mat-icon>
      </button>
    </div>


  </div>
  <!-- Container wrapper -->

</nav>
<!-- Navbar -->