<!-- Default form login -->
<div class="center">
  <form #loginForm="ngForm" class="border border-light p-5">

    <div class="center">
      <h1>Anmelden</h1>
    </div>

    <div class="center">
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input type="email" ngModel matInput placeholder="user@gmail.com" id="email" name="email" required/>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field>
        <mat-label for="password">Passwort</mat-label>
        <input type="password" ngModel matInput placeholder="******" id="password" name="password" required/>
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">

      <div class="col d-flex">
        <!-- Simple link -->
        <a href="#!">Passwort vergessen?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary btn-block mb-4">Jetzt anmelden!</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Du besitzt keinen Account? </p>
      <a href="/auth/register">Jetzt registrieren</a>
    </div>
  </form>
</div>