<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Startseite</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/stammdaten']" [routerLinkActive]="['is-active']" class="nav-link waves-light"
          mdbWavesEffect>Stammdaten</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/einkaufsliste']" [routerLinkActive]="['is-active']" class="nav-link waves-light"
          mdbWavesEffect>Einkaufsliste</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/arbeitsstunden']" [routerLinkActive]="['is-active']" class="nav-link waves-light"
          mdbWavesEffect>Arbeitsstunden</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/essensplan']" [routerLinkActive]="['is-active']" class="nav-link waves-light"
          mdbWavesEffect>Essensplan</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Account<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Mein Profil</a>
          <a class="dropdown-item waves-light" *ngIf="isLoggedIn" mdbWavesEffect href="/auth/login">Anmelden</a>
          <a class="dropdown-item waves-light" *ngIf="!isLoggedIn" mdbWavesEffect href="/home">Abmelden</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->