<!-- Default form login -->
<div class="center">
    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterData()" class="border border-light p-5">
        <!-- Email input -->
        <div class="center">
            <h1>Registrieren</h1>
        </div>
        <div class="center">
            <mat-form-field>
                <mat-label for="firstName">Vorname</mat-label>
                <input matInput placeholder="" formControlName="firstName" id="firstName" name="firstName" required/>
                <mat-icon matSuffix>person_outline</mat-icon>
            </mat-form-field>
        </div>
        <div class="center">
            <mat-form-field>
                <mat-label for="lastName">Nachname</mat-label>
                <input matInput placeholder="" formControlName="lastName" id="lastName" name="lastName" required/>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </div>
        <div class="center">
            <mat-form-field>
                <mat-label for="email">Email</mat-label>
                <input matInput placeholder="user@gmail.com" formControlName="email" id="email" name="email" required/>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field>
                <mat-label for="password">Passwort</mat-label>
                <input type="password" matInput placeholder="******" formControlName="password" id="password" name="password" required/>
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
        </div>

        <!-- Submit button -->
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-block mb-4">Jetzt registrieren!</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Du besitzt bereits einen Account? </p>
            <a href="/auth/login">Jetzt anmelden</a>
        </div>
    </form>
</div>
